<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/style.css">
    <title>Template</title>
</head>
<body>
    <div id="container">
        <header>
            <nav>
                <a id="current_page" href="">Home Page</a>
                <a href="">Pupuke & Rangitoto</a>
                <a href="">Ngāti Pāoa & Waitematā</a>
            </nav>
            <div id="under_nav">
                <img src="/resources/Lake Pupuke/kahui-ako-round-logo-2-3.jpg" alt="Logo">
                
                <div id="title">
                    <h1>
                        Te Kāhui Ako o Pupuke
                    </h1>
                    <h3>
                        Satellite Site
                    </h3>
                </div>

                <div class="radio-inputs">
                    <label class="radio">
                        <input checked="" name="radio" type="radio" />
                        <span class="name">English</span>
                    </label>
                    <label class="radio">
                        <input name="radio" type="radio" />
                        <span class="name">Maori</span>
                    </label>
                </div>
            </div>          
        </header>
        
        <main>
            
        </main>

        <footer>
            <button class="animated-button" id="button-1">
                <svg viewBox="0 0 24 24" class="arr-2" xmlns="http://www.w3.org/2000/svg">
                    <path
                    d="M16.1716 10.9999L10.8076 5.63589L12.2218 4.22168L20 11.9999L12.2218 19.778L10.8076 18.3638L16.1716 12.9999H4V10.9999H16.1716Z"
                    ></path>
                </svg>
                <span class="text">Contact Us</span>
                <span class="circle"></span>
                <svg viewBox="0 0 24 24" class="arr-1" xmlns="http://www.w3.org/2000/svg">
                    <path
                    d="M16.1716 10.9999L10.8076 5.63589L12.2218 4.22168L20 11.9999L12.2218 19.778L10.8076 18.3638L16.1716 12.9999H4V10.9999H16.1716Z"
                    ></path>
                </svg>
            </button><button class="animated-button" id="button-2">
                <svg viewBox="0 0 24 24" class="arr-2" xmlns="http://www.w3.org/2000/svg">
                    <path
                    d="M16.1716 10.9999L10.8076 5.63589L12.2218 4.22168L20 11.9999L12.2218 19.778L10.8076 18.3638L16.1716 12.9999H4V10.9999H16.1716Z"
                    ></path>
                </svg>
                <span class="text">Source Info</span>
                <span class="circle"></span>
                <svg viewBox="0 0 24 24" class="arr-1" xmlns="http://www.w3.org/2000/svg">
                    <path
                    d="M16.1716 10.9999L10.8076 5.63589L12.2218 4.22168L20 11.9999L12.2218 19.778L10.8076 18.3638L16.1716 12.9999H4V10.9999H16.1716Z"
                    ></path>
                </svg>
            </button>
            <img src="/resources/Rangitoto Island/Rangitoto_Island_banner.jpg" alt="footer image of Rangitoto" id="footer_img">
            <h2>'Ehara taku toa i te toa takitahi, engari he toa takitini' - Success is not the work of an individual, but the work of many.</h2>
            <p id="copyright">Copyright &copy; Company Name. All rights reserved</p>
        </footer>
    </div>
</body>
</html>