body {
    margin: 0;
    background-color: #fafafa;
}

#container {
    max-width: 1500px;
    height: 120px;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 0px 0px 3px #ddd;
    background-color: #fff;
    color: rgba(51, 65, 85, 1);
    border-radius: 10px;
    padding-bottom: 30px;
}

nav {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
    background-color: #eee;
    border-radius: 10px 10px 0 0;
}

nav a {
    width: 33.33%;
    text-align: center;
    font-size: 2em;
    text-decoration: none;
    margin: 0 0 0 0;
    padding: 10px 0 10px 0;
    background-color: #eee;
    color: rgba(51, 65, 85, 1);
    border-radius:  10px;
}

nav::before {
  content: "";
  position: absolute;
  top: 57px;
  left: 605px;
  height: 20px;
  width: 20px;
  border-radius: 0 0 0 10px;
  background-color: #eee;
  box-shadow: -5px 5px 0px #fff;
}

#current_page {
    border-radius: 10px 10px 0 0;
    margin-top: 0px;
    background-color: #fff;
    font-weight: 600;
}

img {
    width: 100px;
    float: left;
    margin: 10px 20px 0;
}

#title {
    display: flex;
    flex-direction: column;
    float: left;
    margin: 20px 0 0 0;
}

h1 {
    font-weight: 600;
    font-size: 2em;
    color: rgba(51, 65, 85, 1);
    margin: 0;
}

h3 {
    font-weight: 50;
    font-size: 1em;
    color: rgb(85 169 183);
    margin: 0;
}

/* From Uiverse.io by Nilsobn */ 
.radio-inputs {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  border-radius: 10px;
  background-color: #eee;
  box-sizing: border-box;
  padding: 0.25rem;
  width: 250px;
  font-size: 14px;
  height: 40px;
  float: left;
  margin: 28px 20px 0 730px;
}

.radio-inputs .radio {
  flex: 1 1 auto;
  text-align: center;
}

.radio-inputs .radio input {
  display: none;
}

.radio-inputs .radio .name {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  border: none;
  padding: 0.5rem 0;
  color: rgba(51, 65, 85, 1);
  transition: all 0.15s ease-in-out;
}

.radio-inputs .radio input:checked + .name {
  background-color: #fff;
  font-weight: 600;
}