body {
    margin: 0;
}

#container {
    width: 80%;
    height: fit-content;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    display: flex;
    justify-content: space-evenly;
}

nav a {
    width: 33.33%;
    text-align: center;
    font-size: 2em;
    text-decoration: none;
    color: black;
    margin: 0 0 0 0;
    padding: 10px 0 10px 0;
    box-shadow: 0 -3px 0 #000 inset;
}

nav #current_page {
    border-radius: 10px 10px 0 0;
    box-shadow: 0 3px 0 #000 inset,
                3px 0 0 #000 inset,
                -3px 0 0 #000 inset;
    margin-top: 0px;
}